tensorboardX
accelerate
deepspeed
cut_entropy_loss
causal_conv1d==1.5.0.post8
cut_cross_entropy==24.12.1
datasets==3.3.2
einops==0.8.1
flash_linear_attention==0.3.0
ipython==8.12.3
mamba_ssm==2.2.4
numpy==2.3.3
peft==0.13.2
safetensors==0.6.2
torch==2.6.0
transformers==4.51.0
triton==3.2.0
typed_argument_parser==1.10.1
wandb==0.22.0
~orch==2.6.0
